@charset "UTF-8";

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: gray;
  color: whitesmoke;
  font-size: 15px;
}

h1 {
  color: bisque;
  background-color: rgb(148, 148, 148);
}

h2 {
  color: brown;
}